<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment processor</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>This is a payment processor</h1>
    <p>
        We don't have a nice landing page like stripe, but we can process payments just as well!
        <br />
        Who needs a fancy landing page anyway?
        <br />
        I mean, we could have one, but we dont want to show off.
        <br />
        We are humble like that.
        <br />
        This is a humble payment processor.
        <br />
        Also, no bloat and no tracking! Just the essentials.
        <br />
        Well not really, the font is imported from Google Fonts.
        <br />
        But that's it!
        <br /><br /><br />
        I love javascript
        <br /><br />
        <img src="./javascript.gif" height="128px" />
    </p>
</body>

</html>