@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
    height: 100vh;
    background: radial-gradient(circle at top, #80008080, #000000);
    background-color: black;
}

a {
  @apply underline decoration-dashed cursor-pointer;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-[12px];
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white/5;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-white/5;
}